body {
  margin: 0;
  background: $bodyOpacity, url(../assets/background.jpg);
  background-size: cover;
  font-family: bahnschrift;
}
.container {
  width: 50%;
  margin: 80px;
  color: $headerColor;

  h1 {
    font-size: 50px;
    margin-bottom: 5px;
    font: bold;
  }
  p {
    font: normal 15px bahnschrift;
    padding: 0;
    margin: 0;
  }
  .art {
    margin-bottom: 20px;
  }
}
.btn-submit {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  border: none;
  color: $textColor;
  background-color: $buttonColor;
  font: bold 15px bahnschrift;
}
.header {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 0;
  padding-left: 30px;
  padding-right: 30px;
  color: $headerColor;
  background-color: $headerBack;
  display: flex;
  justify-content: space-between;

  @include form(auto, 70px);

  h1 {
    display: flex;
    justify-content: space-around;
    font-family: bahnschrift;
  }
}
.menu {
  display: flex;
  list-style: none;

  li {
    font-family: bahnschrift;
    font-size: small;
    padding-top: 15px;
    padding-left: 5px;
  }
}
.show {
  display: flex;
  .slide {
    margin: 0;
    margin-bottom: 20px;
    width: 300px;
    height: 200px;
    max-width: fit-content;
    opacity: 0.8;
  }
}
.footer {
  display: flex;
  justify-content: center;
  font: lighter 10px bahnschrift;
  color: $textColor;
}
